
@media all {
	html {
		background: darkgrey;
	}
}

@media all and (max-width: 1200px) {
	html {
		background: yellow;
	}

	body {
		font-size: 200%;
	}

}

@media all and (max-width: 980px) {

	html {
		background: lightgreen;
	}

	body {
		font-size: 300%;
	}
}

.main {width: 100%;}
