@media all {
	html {
		background: darkgrey;
	}
}

@media all and (max-width: 1200px) {
	html {
		background: yellow;
	}

	body {
		font-size: 200%;
	}

	input[type="text"]
	{
	    font-size:32px;
	}
}

@media all and (max-width: 980px) {

	html {
		background: lightgreen;
	}

	body {
		font-size: 300%;
	}

	input[type="text"]
	{
	    font-size:48px;
	}
}

.main {width: 100%;}
